
.basic_table {
    display: inline-block;
    margin-left: 4%;
    vertical-align: top;
    width: 60%;
}

div.admin_content {
    background-color: #D7DBE0;
    margin: 64px auto 0;
    padding: 0 8% 50px;
    z-index: 0;
}
div.admin_wrapper {
    width: 100%;
}

div.admin_footer {
    background-color: #E7EBF2;
    border-top: 1px solid gray;
    bottom: 0;
    height: 30px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

span.num_orders {
    float: right;
    color: gray;
    margin-right: 10px;
    margin-top: 3px;
}
div.basic_order_info {
    border-bottom: 1px dashed #888;
    padding-bottom: 6px;
}
div.order_num, div.order_created_at, div.orig_price {
    color: #666666;
    display: inline-block;
    width: 33.3%;
    font-size: 14px;
}
div.order_num {
    text-align: left;
}
div.orig_price {
    text-align: right;
}
div.order_created_at {
    text-align: center;
}

div.middle_content {
    display: inline-block;
    vertical-align: top;
    width: 78%;
}

div.orders_item_msg {
    border-top: 1px dashed #AAAAAA;
    color: gray;
    font-size: 14px;
    height: 76px;
    line-height: 22px;
    overflow: auto;    
}

div.detailed_order_info {
    border-bottom: 1px dashed #888888;
    margin-bottom: 12px;
    padding-bottom: 10px;
    padding-top: 12px;
}

div.detailed_order_info:hover {
    background-color: #FFEFFF;
}
div.detailed_order_info:hover {
    cursor:pointer;
}
div.buyer_info_wrapper {
    display: inline-block;
}
div.order_control {
    display: inline-block;
    float: right;
    margin-right: 1%;
    text-align: center;
}
div.order_control select {
    text-align: center;
    font-size: 14px;
    margin-bottom: 14px;
}
div.order_control div {
    color: #555;
    font-size: 14px;
    margin-bottom: 4px;
}
div.buyer_info table tr td:first-child {
    text-align: right;
}
div.buyer_info table tr td:nth-child(2) {
    width: 10px;
}
div.order_control button {
    display: block;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
div.orders_entry {
    border-bottom: 2px solid #BFBFBF;
    padding: 10px;
    position: relative;
}
div.orders_item_title {
    color: #444444;
    padding-bottom: 4px;
}
div#inactive_orders_button_more, div#active_orders_button_more {
    background-image: url("../../images/main/button_more.png");
    height: 29px;
    margin: 40px auto 30px;
    position: relative;
    width: 90px;
}
div#inactive_orders_button_more:hover, div#active_orders_button_more:hover {
    cursor: pointer;
}






div.result_container {
    background-color: gray;
    height: 1000px;
    width: 100%;
}
div.item_control {
    
}
div.vertical_drag_bar {
    cursor: col-resize;
    height: 100%;
    margin-left: -4px;
    width: 7px;
}
div.main_block {
    background: white;
    -moz-box-shadow: 0 0 3px #676869;
    -khtml-box-shadow: 0 0 3px #676869;
    -webkit-box-shadow: 0 0 3px #676869;
    box-shadow: 0 0 3px #676869;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin-bottom: 20px;
    margin-top: 50px;
    position: relative;
}
img#item_pic {
    height: auto;
    max-width: 35%;
    -moz-box-shadow: 0 0 3px #676869;
    -khtml-box-shadow: 0 0 3px #676869;
    -webkit-box-shadow: 0 0 3px #676869;
    box-shadow: 0 0 3px #676869;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
div.item_pic {
    display: inline;
    vertical-align: top;
}
.block_header {
    border-bottom: 1px solid #EAECEE;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.7;
    padding: 5px;
}
.block_content {
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 0 0 0 5px;
    position: relative;
}
.block_header_icon {
    background: url("/daigou/application/assets/images/main/icons.png") no-repeat scroll 0 top transparent;
    float: left;
    height: 24px;
    width: 24px;
}
#detail.block_header_icon {
    background-position: -24px top;
}
#basic.block_header_icon {
    background-position: -72px top;
}
.block_header_title {
    color: #555555;
    float: left;
    font-size: 14px;
    line-height: 1.5;
    margin-left: 5px;
}
table#basic_table {
    width: 100%;
}
table#basic_table tr {
    vertical-align: top;
}
table#basic_table td:last-child {
    width: 80%;
}
textarea#msg_to_agent {
    height: 120px;
    padding: 5px 10px;
    width: 90%;
}

div.button_wrapper {
    bottom: 10px;
    position: absolute;
    right: 40px;
}
div.sidebar_title#orders {
    left: 50%;
}
div.sidebar_title {
    border-bottom: 1px dashed white;
    position: absolute;
    top: 0;
    width: 50%;
    border-bottom: 1px solid #EFEFEF;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    z-index: 1;
    background-color:pink;
}
div.sidebar_title#cart {
    
}
div.sidebar_title.active {
    -moz-box-shadow: inset 0 0 4px #676869;
    -khtml-box-shadow:inset  0 0 4px #676869;
    -webkit-box-shadow:inset  0 0 4px #676869;
    box-shadow:inset  0 0 4px #676869;
}
div.sidebar_title:hover {
    cursor:pointer;
}
div.cart_entry {
    background-color: #FFEFFF;
    border-bottom: 1px solid #BFBFBF;
    padding: 10px;
    position: relative;
}
div.cart_entry:hover {
    cursor:pointer;
}


div#shopping_cart_list_body {
    height: 88%;
    overflow: auto;
    position: absolute;
    top: 0;
    width: 100%;
/*    -moz-box-shadow: 0 0 3px #676869;
    -khtml-box-shadow: 0 0 3px #676869;
    -webkit-box-shadow: 0 0 3px #676869;
    box-shadow: 0 0 3px #676869;*/
}
div#orders_list_body {
    height: 100%;
    overflow: auto;
    position: absolute;
    top: 0;
    width: 100%;
    display: none;
/*    -moz-box-shadow: 0 0 3px #676869;
    -khtml-box-shadow: 0 0 3px #676869;
    -webkit-box-shadow: 0 0 3px #676869;
    box-shadow: 0 0 3px #676869;*/
}
div.thumb_pic_container img {
    max-height: 100px;
    max-width: 100px;
    -moz-box-shadow: 0 0 3px #676869;
    -khtml-box-shadow: 0 0 3px #676869;
    -webkit-box-shadow: 0 0 3px #676869;
    box-shadow: 0 0 3px #676869;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
div.thumb_pic_container {
    display: inline-block;
    height: 100px;
    position: relative;
    text-align: center;
    width: 100px;
    margin-right: 10px;
}
div.cart_item_amount {
    color: #4A4A4A;
    display: inline-block;
    font-size: 20px;
    position: absolute;
    right: 5%;
    top: 40px;
    vertical-align: top;
}
div.cart_item_amount span {
    background-color: white;
    padding: 4px;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

div.cart_item_title {
    padding-bottom: 4px;
}
div.cart_item_msg {
    font-size: 14px;
    color: gray;
}
span.cart_del {
    position: absolute;
    top: 0px;
    right: 18px;
    font-size: 22px;
    color: #ff00ff;
}

div.orders_item_amount {
    color: #4A4A4A;
    float: right;
    font-size: 20px;
    margin-right: 3%;
    margin-top: 30px;
}
div.orders_item_amount span {
    background-color: skyblue;
    padding: 4px;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}


span.orders_del {
    position: absolute;
    top: 0px;
    right: 18px;
    font-size: 22px;
    color: #ff00ff;
}

div#shopping_cart_control {
    bottom: 0;
    height: 12%;
    position: absolute;
    width: 100%;
    -moz-box-shadow: 0 0 3px #676869;
    -khtml-box-shadow: 0 0 3px #676869;
    -webkit-box-shadow: 0 0 3px #676869;
    box-shadow: 0 0 3px #676869;
    background-color: #EFFFFF;
}


div.continue {
    height: 100%;
}
div.continue span.sidebar_buttons {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -moz-box-shadow: 0 0 3px #676869;
    -khtml-box-shadow: 0 0 3px #676869;
    -webkit-box-shadow: 0 0 3px #676869;
    box-shadow: 0 0 3px #676869;
}
div.continue span#place_order {
    background-color: pink;
    left: -50px;
    margin-left: 50%;
    padding: 10px 40px;
    position: relative;
    top: 36%;
}
div.continue span#confirm {
    background-color: pink;
    left: 60%;
    padding: 8px 30px;
    position: relative;
    top: 20%;
}
div.continue span#back {
    background-color: pink;
    left: 0;
    padding: 8px 30px;
    position: relative;
    top: 20%;
}
div.continue span:hover {
    cursor: pointer;
}
div.continue span.active {
    -moz-box-shadow: inset 0 0 3px #676869;
    -khtml-box-shadow:inset 0 0 3px #676869;
    -webkit-box-shadow:inset 0 0 3px #676869;
    box-shadow:inset 0 0 3px #676869;
}
div#detail_info {
    display: none;
    height: 100%;
}
table#detail_info_table {
    left: 8%;
    position: relative;
    top: 10%;
    width: 86%;
}
table#detail_info_table tr {
    height: 36px;
}
table#detail_info_table tr td:last-child {
    text-align: center;
    width: 77%;
}
table#detail_info_table input {
    font-size: 13px;
    padding: 2px;
    width: 90%;
}