span#toggle_sidebar {
    background-image: url("../../images/global/sidebar_toggle.png");
    height: 121px;
    left: -20px;
    margin-top: -60px;
    position: absolute;
    top: 50%;
    width: 31px;
}
span#toggle_sidebar {
    cursor: pointer;
}
span#toggle_arrow {
    background-image: url("../../images/global/left_arrow.png");
    height: 27px;
    left: 7px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    width: 14px;
    z-index: 2;
}
img#cloud {
    position: absolute;
    right: 8.5%;
    top: 100px;
}
div#input_tag {
    background-image: url("../../images/global/diggos_tag.png");
    color: white;
    font-size: 22px;
    height: 58px;
    left: 20px;
    padding-top: 10px;
    position: absolute;
    top: -30px;
    width: 285px;
}
div#welcome_text {
    background-image: url("../../images/global/diggos_welcome_text.png");
    height: 50px;
    left: 50%;
    margin-left: -299px;
    position: absolute;
    top: -110px;
    width: 598px;
}
div.block {
    border: 1px solid #c1c1c1;
    border-radius: 5px 5px 5px 5px;
    padding: 32px;
    background-color: #fefefe;
}

div.block_wrapper {
    background-color: #EFEFEF;
    border-radius: 5px 5px 5px 5px;
    padding: 6px;
    position: relative;
    text-align: center;
    -moz-box-shadow: 4px 4px 3px #2E78AB;
    -khtml-box-shadow: 4px 4px 3px #2E78AB;
    -webkit-box-shadow: 4px 4px 3px #2E78AB;
    box-shadow: 4px 4px 3px #2E78AB;
}
div.main_content_wrapper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 32%;
    width: 660px;
    z-index: 2;
}

.basic_table {
    display: inline-block;
    margin-left: 4%;
    vertical-align: top;
    width: 56%;
}
div#purchase {
    background-image: url("../../images/global/diggos_conf.png");
    height: 49px;
    width: 111px;
}
div#purchase:hover {
    background-position: right;
    cursor: pointer;
}
input#url_input {
    font-size: 20px;
    height: 30px;
    padding: 5px;
    width: 90%;
    border: 1px solid #aeaeae;
}
div.side_wrapper {
    background-color: #FAFAFA;
    border-left: 1px solid gray;
    height: 100%;
    position: fixed;
    right: -25%;
    top: 0;
    width: 25%;
    z-index: 11;
    -moz-box-shadow: 0 0 3px #676869;
    -khtml-box-shadow: 0 0 3px #676869;
    -webkit-box-shadow: 0 0 3px #676869;
    box-shadow: 0 0 3px #676869;
    z-index: 2;
}
div.main_content {
    margin: 30px auto 0;
}
div.main_wrapper {
    overflow: auto;
    width: 100%;
    background-image: url("/daigou/application/assets/images/global/diggos_bg.png"); 
    height: 100%;
    position: fixed;
    background-size: 100% 100%;
    top: 0;
    z-index: 1;
}
div.result_container {
    background-color: gray;
    height: 1000px;
    width: 100%;
}

div.vertical_drag_bar {
    background-image: url("../../images/global/vertical_bar.png");
    background-repeat: repeat-y;
    height: 100%;
    margin-left: -11px;
    position: absolute;
    width: 11px;
    z-index: 2;
}
div.main_block {
    padding: 20px !important;
    position: relative;
    text-align: left;
}
img#item_pic {
    height: auto;
    max-width: 38%;
    -moz-box-shadow: 0 0 3px #676869;
    -khtml-box-shadow: 0 0 3px #676869;
    -webkit-box-shadow: 0 0 3px #676869;
    box-shadow: 0 0 3px #676869;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
div.item_pic {
    display: inline;
    vertical-align: top;
}
.block_header {
    border-bottom: 1px solid #EAECEE;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.7;
    padding: 5px;
}
.block_content {
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 0 0 0 5px;
    padding: 10px 10px 10px;
    position: relative;
}
.block_header_icon {
    background: url("/daigou/application/assets/images/main/icons.png") no-repeat scroll 0 top transparent;
    float: left;
    height: 24px;
    width: 24px;
}
#detail.block_header_icon {
    background-position: -24px top;
}
#basic.block_header_icon {
    background-position: -72px top;
}
.block_header_title {
    color: #555555;
    float: left;
    font-size: 14px;
    line-height: 1.5;
    margin-left: 5px;
}
table#basic_table {
    font-size: 14px;
    margin-top: 8px;
    width: 100%;
}
table#basic_table tr {
    vertical-align: top;
}
table#basic_table td:last-child {
    width: 80%;
}
textarea#msg_to_agent {
    font-size: 14px;
    resize: vertical;
    height: 100px;
    padding: 5px 10px;
    width: 92%;
}
span.list_period {
    float: right;
    color: gray;
    margin-right: 10px;
    font-style: italic;
}
div.button_wrapper {
    float: right;
    margin-top: 14px;
}
div.side_content {
    height: 100%;
    width: 100%;
}
div.sidebar_title#orders {
    left: 50%;
}
div.sidebar_title {
    border-bottom: 1px dashed white;
    position: absolute;
    top: 0;
    width: 50%;
    border-bottom: 1px solid #EFEFEF;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    z-index: 1;
    background-color:pink;
}
div.sidebar_title#cart {
    
}
div.sidebar_title.active {
    -moz-box-shadow: inset 0 0 4px #676869;
    -khtml-box-shadow:inset  0 0 4px #676869;
    -webkit-box-shadow:inset  0 0 4px #676869;
    box-shadow:inset  0 0 4px #676869;
}
div.sidebar_title:hover {
    cursor:pointer;
}
div.cart_entry {
    background-color: #FFEFFF;
    border-bottom: 1px solid #BFBFBF;
    padding: 10px;
    position: relative;
}

div.orders_entry {
    background-color: #FFEFFF;
    border-bottom: 1px solid #BFBFBF;
    padding: 5px 10px;
    position: relative;
}

div#shopping_cart_list_body {
    height: 88%;
    overflow: auto;
    position: absolute;
    top: 0;
    width: 100%;
/*    -moz-box-shadow: 0 0 3px #676869;
    -khtml-box-shadow: 0 0 3px #676869;
    -webkit-box-shadow: 0 0 3px #676869;
    box-shadow: 0 0 3px #676869;*/
}
div#orders_list_body {
    height: 100%;
    overflow: auto;
    position: absolute;
    top: 0;
    width: 100%;
    display: none;
/*    -moz-box-shadow: 0 0 3px #676869;
    -khtml-box-shadow: 0 0 3px #676869;
    -webkit-box-shadow: 0 0 3px #676869;
    box-shadow: 0 0 3px #676869;*/
}
div.thumb_pic_container img {
    max-height: 80px;
    max-width: 80px;
    -moz-box-shadow: 0 0 3px #676869;
    -khtml-box-shadow: 0 0 3px #676869;
    -webkit-box-shadow: 0 0 3px #676869;
    box-shadow: 0 0 3px #676869;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
div.thumb_pic_container {
    display: inline-block;
    height: 80px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    width: 80px;
}
div.cart_item_amount {
    color: #4A4A4A;
    display: inline-block;
    font-size: 20px;
    position: absolute;
    right: 5%;
    top: 40px;
    vertical-align: top;
}
div.cart_item_amount span {
    background-color: white;
    padding: 4px;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
div.middle_content {
    display: inline-block;
    vertical-align: top;
    width: 60%;
}
div.cart_item_title {
    padding-bottom: 4px;
    font-size: 14px;
}
div.cart_item_msg {
    color: gray;
    font-size: 13px;
}
span.cart_del {
    position: absolute;
    top: 0px;
    right: 18px;
    font-size: 22px;
    color: #ff00ff;
    cursor: pointer;
}

div.orders_item_amount {
    color: #4A4A4A;
    display: inline-block;
    font-size: 20px;
    position: absolute;
    right: 5%;
    top: 40px;
    vertical-align: top;
}
div.orders_item_amount span {
    background-color: white;
    padding: 4px;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
div.middle_content {
    display: inline-block;
    vertical-align: top;
    width: 60%;
}
div.orders_item_title {
    font-size: 14px;
    padding-bottom: 4px;
}
div.orders_item_msg {
    color: gray;
    font-size: 13px;
}
span.orders_del {
    position: absolute;
    top: 0px;
    right: 18px;
    font-size: 22px;
    color: #ff00ff;
    cursor: pointer;
}
div.order_header {
    margin-bottom: 24px;
}

div.order_num, div.order_created_at {
    color: gray;
    display: inline-block;
    font-size: 12px;
}

div.order_num {
    float:left;
}

div.order_created_at {
    float: right;
    margin-right: 10%;
}

div.order_status {
    height: 18px;
    margin-top: 3px;
}

div.order_status_text, div.order_updated_at {
    color: gray;
    display: inline-block;
    font-size: 12px;
}
div.order_status_text {
    float:left;
}

div.order_updated_at {
    float: right;
    margin-right: 10%;
}
div#shopping_cart_control {
    bottom: 0;
    height: 12%;
    position: absolute;
    width: 100%;
    -moz-box-shadow: 0 0 3px #676869;
    -khtml-box-shadow: 0 0 3px #676869;
    -webkit-box-shadow: 0 0 3px #676869;
    box-shadow: 0 0 3px #676869;
    background-color: #EFFFFF;
}

div#button_more, div#orders_button_more {
    background-image: url("../../images/main/button_more.png");
    height: 29px;
    margin: 40px auto 30px;
    position: relative;
    width: 90px;
}
div#button_more:hover, div#orders_button_more:hover {
    cursor: pointer;
}
div.continue {
    height: 100%;
}
div.continue span.sidebar_buttons {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -moz-box-shadow: 0 0 3px #676869;
    -khtml-box-shadow: 0 0 3px #676869;
    -webkit-box-shadow: 0 0 3px #676869;
    box-shadow: 0 0 3px #676869;
}
div.continue span#place_order {
    background-color: pink;
    left: -50px;
    margin-left: 50%;
    padding: 10px 40px;
    position: relative;
    top: 36%;
}
div.continue span#confirm {
    background-color: pink;
    display: inline-block;
    float: left;
    padding: 8px 30px;
    position: relative;
}
div.continue span#back {
    background-color: pink;
    display: inline-block;
    float: right;
    padding: 8px 30px;
    position: relative;
}
div.continue span:hover {
    cursor: pointer;
}
div.continue span.active {
    -moz-box-shadow: inset 0 0 3px #676869;
    -khtml-box-shadow:inset 0 0 3px #676869;
    -webkit-box-shadow:inset 0 0 3px #676869;
    box-shadow:inset 0 0 3px #676869;
}
div#detail_info {
    display: none;
    height: 100%;
}
table#detail_info_table {
    margin: 10% auto 8%;
    position: relative;
    width: 86%;
}
table#detail_info_table tr {
    height: 36px;
}
table#detail_info_table tr td:last-child {
    text-align: center;
    width: 77%;
}
table#detail_info_table input {
    font-size: 13px;
    padding: 2px;
    width: 90%;
}
div.sidebar_buttons_wrapper {
    height: 38px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}