
div.url_input {
    background-color: #E7EBF2;
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
    padding-top: 60px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: -1;
}
.basic_table {
    display: inline-block;
    margin-left: 4%;
    vertical-align: top;
    width: 60%;
}
input#url_input {
    font-size: 20px;
    height: 30px;
    padding: 5px;
    width: 90%;
}
div.side_wrapper {
    background-color: #FAFAFA;
    border-left: 1px solid gray;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 25%;
    z-index: 11;
}
div.main_content {
    background-color: #D7DBE0;
    margin: 122px auto 0px;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 1px;
    padding-bottom: 50px;
    z-index: 0;
}
div.main_wrapper {
    width: 75%;
}
div.result_container {
    background-color: gray;
    height: 1000px;
    width: 100%;
}
div.item_control {
    background-color: #E7EBF2;
    border-top: 1px solid gray;
    bottom: 0;
    height: 30px;
    position: fixed;
    width: 75%;
    z-index: 1;
}
div.vertical_drag_bar {
    cursor: col-resize;
    height: 100%;
    margin-left: -4px;
    width: 7px;
}
div.main_block {
    background: white;
    -moz-box-shadow: 0 0 3px #676869;
    -khtml-box-shadow: 0 0 3px #676869;
    -webkit-box-shadow: 0 0 3px #676869;
    box-shadow: 0 0 3px #676869;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
}
img#item_pic {
    height: auto;
    max-width: 35%;
    -moz-box-shadow: 0 0 3px #676869;
    -khtml-box-shadow: 0 0 3px #676869;
    -webkit-box-shadow: 0 0 3px #676869;
    box-shadow: 0 0 3px #676869;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
div.item_pic {
    display: inline;
    vertical-align: top;
}
.block_header {
    border-bottom: 1px solid #EAECEE;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.7;
    padding: 5px;
}
.block_content {
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 0 0 0 5px;
    padding: 10px 10px 10px;
    position: relative;
}
.block_header_icon {
    background: url("/daigou/application/assets/images/main/icons.png") no-repeat scroll 0 top transparent;
    float: left;
    height: 24px;
    width: 24px;
}
#detail.block_header_icon {
    background-position: -24px top;
}
#basic.block_header_icon {
    background-position: -72px top;
}
.block_header_title {
    color: #555555;
    float: left;
    font-size: 14px;
    line-height: 1.5;
    margin-left: 5px;
}
table#basic_table {
    width: 100%;
}
table#basic_table tr {
    vertical-align: top;
}
table#basic_table td:last-child {
    width: 80%;
}
textarea#msg_to_agent {
    height: 120px;
    padding: 5px 10px;
    width: 90%;
}
span.list_period {
    float: right;
    color: gray;
    margin-right: 10px;
    font-style: italic;
}
div.button_wrapper {
    bottom: 10px;
    position: absolute;
    right: 40px;
}
div.sidebar_title#orders {
    left: 50%;
}
div.sidebar_title {
    border-bottom: 1px dashed white;
    position: absolute;
    top: 0;
    width: 50%;
    border-bottom: 1px solid #EFEFEF;
    border-right: 1px dashed white;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    z-index: 1;
    background-color:pink;
}
div.sidebar_title#cart {
    z-index: 2;
}
div.cart_entry {
    background-color: #FFEFFF;
    border-bottom: 1px solid #BFBFBF;
    padding: 10px;
    position: relative;
}
div.cart_entry:hover {
    cursor:pointer;
}
div#shopping_cart_list_body {
    height: 85%;
    overflow: auto;
    position: absolute;
    top: 0;
    width: 100%;
}
div.thumb_pic_container img {
    margin-right: 10px;
    max-height: 80px;
    max-width: 80px;
    -moz-box-shadow: 0 0 3px #676869;
    -khtml-box-shadow: 0 0 3px #676869;
    -webkit-box-shadow: 0 0 3px #676869;
    box-shadow: 0 0 3px #676869;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
div.thumb_pic_container {
    display: inline-block;
    height: 82px;
    position: relative;
    text-align: center;
    width: 90px;
}
div.cart_item_amount {
    color: #4A4A4A;
    display: inline-block;
    font-size: 20px;
    position: absolute;
    right: 5%;
    top: 40px;
    vertical-align: top;
}
div.cart_item_amount span {
    background-color: white;
    padding: 4px;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
div.middle_content {
    display: inline-block;
    vertical-align: top;
    width: 60%;
}
div.cart_item_title {
    padding-bottom: 4px;
}
div.cart_item_msg {
    font-size: 14px;
    color: gray;
}
span.cart_del {
    position: absolute;
    top: 0px;
    right: 18px;
    font-size: 22px;
    color: #ff00ff;
}
div#shopping_cart_control {
    border-top: 1px dashed purple;
    bottom: 0;
    height: 15%;
    position: absolute;
    width: 100%;
}

div#button_more {
    background-image: url("../../images/main/button_more.png");
    height: 29px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -35px;
    width: 90px;

}
div#button_more:hover {
    cursor: pointer;
}